.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'left top-right'
    'left bottom-right'
    'bottom-bar bottom-bar';
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 3fr 1fr;
}
.container > div {
  border: 3px dashed #888;
}

.left {
  grid-area: left;
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
}
.top-right {
  grid-area: top-right;
  margin: 1rem;
}
.bottom-right {
  grid-area: bottom-right;
  margin: 1rem;
}
.bottom-bar {
  grid-area: bottom-bar;
}

.team-title {
  text-align: center;
  font-weight: bold;
  margin: 0.25em;
  padding: 0;
}
