body {
  background-color: #2f363d;
}
a:link {
  color: #4682b4;
  text-decoration: none;
}
a:visited {
  color: #ade55c;
  text-decoration: none;
}
a:hover {
  color: #5e98d9;
  text-decoration: none;
}
a:active {
  color: #e4c62e;
  text-decoration: none;
}
.container {
  background-color: #2f363d;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    'header config'
    'left top-right'
    'left bottom-right'
    'bottom-bar bottom-bar';
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 0.5fr 2fr 2fr 0.25fr;
}
.team-title {
  color: #fefefe;
}
.left {
  margin-left: 0.75rem;
  grid-area: left;
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;
  border: 5px solid #a52a2a;
  background-color: #1b1e21;
}
.config {
  grid-area: config;
  margin: 0.5rem;
}
.top-right {
  grid-area: top-right;
  margin: 0.75rem;
  margin-top: 0em;
  padding-top: 0.25rem;
  border: 5px solid #a52a2a;
  background-color: #1b1e21;
  padding-bottom: 0.5rem;
}
.bottom-right {
  grid-area: bottom-right;
  margin: 0.75rem;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0.25rem;
  border: 5px solid #a52a2a;
  background-color: #1b1e21;
  padding-bottom: 0.5rem;
}
.bottom-bar {
  grid-area: bottom-bar;
  margin: 0rem;
  padding: 0rem;
  text-align: center;
  color: #fefefe;
  text-shadow: 2px 4px 3px #1b1e21;
}

.header {
  padding-top: 0.5em;
  text-align: center;
  color: #fefefe;
  text-shadow: 2px 4px 3px #1b1e21;
}

.dota-title {
  color: #a52a2a;
}

.team-title {
  text-align: center;
  font-weight: bold;
  margin: 0.25em;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1b1e21;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(47, 54, 61, 1);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(47, 54, 61, 0.8);
}

@media screen and (max-width: 1080px) {
  .container {
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
    grid-template-areas:
      'header'
      'config'
      'top-right'
      'bottom-right'
      'left'
      'bottom-bar';
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.5fr 1fr 1fr 2fr 0.2fr;
  }
  .left {
    margin-right: 1em;
    font-size: 75%;
  }
  .bottom-right {
    margin-bottom: 0.75em;
  }
}
